@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --offwhite: rgb(248, 248, 248);
  --blue: rgb(31, 167, 221);
  --offblack: rgb(25, 25, 25);
  --boxshadow-color: rgb(200, 200, 200);
  --signature-orange: rgb(238, 176, 82);
}


* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  color: var(--offblack);
}


.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;

  width: 100%;
  height: 100vh;
}

aside {
  grid-area: 1/1/3/1;

  padding: .5rem 3rem;

  display: grid;
  gap: 1rem;

  /* background-color: rgb(248, 248, 240); */
  background-color: var(--blue);

  box-shadow: 3px 0px 4px var(--boxshadow-color);

  z-index: 1;
}


main {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  gap: 2rem;

  background-color: var(--offwhite);

  padding: 2rem;

  overflow-y: auto;
}

[class^="project-"] {
  position: relative;

  padding: 1.5rem;

  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border-radius: 8px;

  box-shadow: 2px 4px 4px var(--boxshadow-color);
}

[class^="project-"] .highlight {
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: var(--signature-orange);
  
  width: 7px;
  height: 100%;
  
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

[class^="project-"]:hover {
  box-shadow: 4px 6px 5px var(--boxshadow-color);
}


[class^="todo-obj-"], 
.add-task-prompt {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  width: 100%;
  height: 48px;

  position: relative;

  padding: 8px 0px 0px 0px;
}


.todo-info-container {
  display: grid;
  flex: 1;
}


.add-task-prompt {
  order: 100;
}

.add-task-prompt p {
  color: gray;
}

.add-task-prompt button,
.complete-button {
  background-color: transparent;
  
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: gray;
}

.add-task-prompt button:hover,
.add-task-prompt:hover,
.complete-button:hover {
  cursor: pointer;
}

.add-task-prompt button,
.complete-button {
  width: 1.65rem;
  height: 1.65rem;
}

.add-task-prompt button {
  font-weight: 700;
  font-size: 1.25rem;
  color: gray;
}


.new-task-form {
  background-color: var(--offwhite);
  display: flex;
}


.todo-duedate-container {
  display: flex;
  gap: .5rem;
  align-items: center;

  font-size: .9rem;

  color: rgb(66, 66, 66);
}

[class^="project-"] h3 {
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow-y: auto;
}

.todo-list input {
  outline: none;
  border: none;
}

.divider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: lightgray;

  justify-self: center;
}